.aboutSMM {
    display: flex;
    height: 100vh;
    color: white;
    position: relative;
    overflow: hidden;


    background:
        radial-gradient(circle at 70% 40%,
            rgba(120, 140, 255, 0.15) 0%,
            rgba(120, 140, 255, 0.08) 25%,
            transparent 50%),
        radial-gradient(circle at 80% 20%,
            rgba(255, 255, 255, 0.05) 0%,
            transparent 40%),
        linear-gradient(135deg,
            #050816 0%,
            #0a0f2c 50%,
            #070b1a 100%);
}

.smm-left,
.smm-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
}

.smm-left lottie-player {
    max-width: 500px;
    width: 100%;
}