@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Bebas+Neue&display=swap');

.hero {
    display: flex;
    height: 100vh;
    /* padding-top: 100px; */
}

.hero-left,
.hero-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.hero-right img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-subtext {
    max-width: 800px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.typing-text {
    border-right: 2px solid black;
    padding-right: 5px;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .hero-left,
    .hero-right {
        width: 100%;
        text-align: center;
    }
}