html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.section-hidden {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease;
}

.section-show {
    opacity: 1;
    transform: translateY(0);
}